

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(225, 20%, 60%)
}
#main-container {
    width: 90vw;
    height: 70vh;
    background-color: hsl(230, 100%, 99%);
    background-image: url('./images/bg-pattern.svg');
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px 10px rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#title {
    font-size: 15px;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-image: url('./images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#title p {
    color: hsl(225, 20%, 60%);
    font-size: 15px;
    font-weight: 400;
}
#slider-card {
    background-color: white;
    width: 35%;
    min-width: 325px;
    height: 45%;
    box-shadow: 0 5px 15px 10px rgba(0, 0, 0, .05);
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#slider-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    text-align: center;
}
#price-per-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#price {
    font-size: 2rem; 
    font-weight: 800; 
    text-align: right;
    color: hsl(227, 35%, 25%);
    padding-right: .5rem;
}
#slider-container {
    width: 100%;
}
#slider {
    appearance: none;
    width: 97%;
    height: 10px;
    border-radius: 1rem;
    position: relative;
  --webkitProgressPercent: 75%; /* workaround for webkit progress fill */
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    background: hsl(174, 86%, 45%) url("./images/icon-slider.svg") no-repeat center/60%;
    cursor: pointer; 
    position: relative;
    top: -9px;
    opacity: .7;

}
#slider::-webkit-slider-thumb:hover {
    opacity: 1;
}
#slider::-webkit-slider-runnable-track {
    height: 10px;
    background-image: linear-gradient(
        90deg,
        hsl(174, 77%, 80%) var(--webkitProgressPercent),
        hsl(224, 65%, 95%) var(--webkitProgressPercent)
  );
}

#slider-rate {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
#slider-rate >* {
    margin: 0 .5rem;
}

.toggle {
    position: relative;
    width: 25px;
    height: 16px;
    border-radius: 16px;
    background: hsl(223, 50%, 87%);
    cursor: pointer;
}
.toggle:hover {
    background: hsl(174, 86%, 45%);
}
.activated {
    background: hsl(174, 86%, 45%);
}

.nubbin {
    position: relative;
    top:2px;
    left:2px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: white;
    transition: transform ease-out .5s;
}
.shift {
    left: unset;
    right: -11px;
}
.discount {
    color:hsl(15, 100%, 70%);
    background: hsl(14, 92%, 95%);
    padding: 0 .25rem 0 .25rem;
}
#slider-details {
    display: flex;
    justify-content: space-between;
}
#slider-details >* {
    padding: 1rem;
    font-size: 12px;
}
li {
    list-style-image: url('./images/icon-check.svg');
    padding: .35rem;
}
#cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cta {
    background: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    border-radius: 2rem;
    padding: .5rem 2rem;
    cursor: pointer;
    font-size: 12px;
    
}

.attribution { position: absolute; bottom: 0; right: 0; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
    body {
        justify-content: flex-start;
    }
    #title {
        font-size: x-small;
        margin-top: 2rem;
    }
    #title p {
        font-size: 13px;
        text-align: center;
        max-width: 180px;
        margin: auto;
        padding-top: .5rem;
    }
    #main-container {
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
    }
    #slider-card {
        height: unset;
    }
    #slider-price {
        flex-direction: column;
    }
    #slider-rate >* {
        margin: .25rem;
    }
    .discount {
        border-radius: 10px;
    }
    #slider-details {
        flex-direction: column;
        align-items: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}